.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #741188;
  padding: 0 2rem;
}

.main-header h1 {
  color: white;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 3rem auto;
  text-align: center;
}
